.imagen{
    width: 50px;
    height: 50px;
}
.fondo{
   background-image: url(fondo.jpg);
   height: 50vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

